.property-management-home {
  .hyper-link-1 {
    font-size: 18px;
    font-weight: bold;
    color: #f3f4f6;
    cursor: pointer;
    &.is-active {
      color: #f6b43b;
    }
    &.hover-effect {
      &:hover {
        color: #f6573b;
      }
    }
  }
}
.heading-1 {
  font-weight: bold;
  font-size: 25px;
}
.prop-container {
  height: 26rem;
  width: 20rem;
  background-color: #f5f6fa;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #e1e2e9;
    transform: scale(1.06);
  }
}
.image-container {
  background: #e2dede;
  margin: 6px 6px 0px 6px;
  border-radius: 10px;
  height: 180px;
}
.prop-title {
  font-size: 18px;
  font-weight: 500;
  color: #111;
}
.price-tag {
  padding: 5px;
  border-radius: 3px;
  background-color: #eaedfd;
  .price-text {
    font-size: 16px;
    text-align: center;
    color: #2a41e8;
  }
}

// SVG Styles
svg.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  &.size-s {
    height: 10px;
    width: 10px;
  }
  &.size-m {
    height: 20px;
    width: 20px;
  }
  &.size-l {
    height: 30px;
    width: 30px;
  }
  &.size-xl {
    height: 40px;
    width: 40px;
  }
  &.size-100 {
    height: 100%;
    width: 100%;
  }
  &.size-c1 {
    height: 60px;
    width: 30px;
  }
}

.title-bold {
  font-size: 26px;
  color: #333333;
}
.login-page {
  height: 100vh;
  .login-container {
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    margin: 30px 0px;
  }
  &.login-bg {
    background: linear-gradient(
      180deg,
      #0575e6 0%,
      #02298a 84.79%,
      #021b79 100%
    );
  }

  .login-button {
    &.el-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 18px 26px;
      width: 307px;
      height: 57px;
      background: #0575e6;
      border-radius: 30px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      border: none;
      &:hover {
        color: #409eff;
        background-color: #ecf5ff;
      }
    }
  }
  .signup-text {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      color: #2f77be;
    }
  }
}
.header-bg {
  background-color: #3f51f4;
}

.h-sub-container {
  height: calc(100vh - 20px);
}
.custom-transfer-panel {
  .el-transfer-panel {
    width: 270px;
  }
}

.h1-bold {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.drop-menu-re {
  .info-part.el-dropdown-menu__item.is-disabled {
    color: #606266;
  }
}
